@page "/bootstraps/Albumn"


<div class="top-row px-4">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="bootstraps/Albumn">Albumn</a>
            <a class="dropdown-item" href="/bootstraps/Blog">Blog</a>
            <a class="dropdown-item" href="/bootstraps/Carousel">Carousel</a>
            <a class="dropdown-item" href="/bootstraps/CheckoutForm">Checkout Form</a>
            <a class="dropdown-item" href="/bootstraps/ContentManager">Content Manager</a>
            <a class="dropdown-item" href="/bootstraps/CoverPage">Cover Page</a>
            <a class="dropdown-item" href="/bootstraps/Dashboard">Dashboard</a>
        </div>
    </div>
</div>

<h2>Albumn</h2>

<div class="container bg-light">
        <div class="card-deck"
                <div class="card bg-light text-black">
                    <div class="card-body">
                        <h5 class="card-title">Sentiment Analysis</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Web Reports</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Responsive Dashboard</h5>
                    </div>
                </div>
            </div>
</div>
@code {

}
