@page "/bootstraps/Blog"


<div class="top-row px-4">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="bootstraps/Albumn">Albumn</a>
            <a class="dropdown-item" href="/bootstraps/Blog">Blog</a>
            <a class="dropdown-item" href="/bootstraps/Carousel">Carousel</a>
            <a class="dropdown-item" href="/bootstraps/CheckoutForm">Checkout Form</a>
            <a class="dropdown-item" href="/bootstraps/ContentManager">Content Manager</a>
            <a class="dropdown-item" href="/bootstraps/CoverPage">Cover Page</a>
            <a class="dropdown-item" href="/bootstraps/Dashboard">Dashboard</a>
        </div>
    </div>
</div>

<h2>Blog</h2>

@code {

}
