@page "/"


<div class="row">
    <div class="col-sm-9">
        <div class="row">
            <div class="card-deck"
                <div class="card">
                    <img src="/images/SENTIMENT.jpg" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Machine Learning</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/report.png" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Data Analysis</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/dashboard.jpg" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">Responsive Web Design</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-sm-12">
                <div>
                    <h1 class="card-title">About Me</h1>
                    <p class="card-text">I have experience in mobile and web devolopment using frameworks such as ASP.Net, Node.js, Bootstrap, Angular, and react. I also have extensive database management experience using Microsoft SQL Server and developing custom backend business logic with SSIS, stored procedures and system jobs. Most of my career has been spent solving real world problems in the financial services industry. </p>
                    <a href="#" class="btn btn-success">Learn More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card-body">
            <h5 class="card-title">Contact</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Email: z95harris@gmail.com</li>
                <li class="list-group-item">Phone: 770-831-8613</li>
                <li class="list-group-item"><a href="https://linkedin.com/in/zachary-harris-630894195/">LinkedIn</a></li>
            </ul>
            <h5 class="card-title pt-4">Skills</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ASP / .NET / CSS</li>
                <li class="list-group-item">XAML / Razor / HTML</li>
                <li class="list-group-item">C# / Javascript / SQL</li>
                <li class="list-group-item">IIS / Apache</li>
                <li class="list-group-item">Visual Studio</li>
                <li class="list-group-item">Android Studio</li>
            </ul>
        </div>
    </div>
</div>